body {
    background: #0D1116;
    display: flex;
    margin: 0px;
    padding: 0px;
    overflow: hidden
}

p {
    color: #E5EBF2;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 12px;
}

.left-container {
    width: 50%;
    height: 100vh;
    margin: none;
    padding: none;
    overflow: hidden;
}

.right-container {
    width: 50%;
    height: 100vh;
    margin: none;
    padding: none;
    overflow: hidden;
}

/***Left Contact Banner***/
.contact-banner {
    width: 100%;
    height: 100%;
}

.image-text-container {
    position:absolute;
    width: 100%;
}

.image-heading {
    position: relative;
    top: 30px;
    left: 150px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

.image-text {
    position: relative;
    top: 15px;
    left: 150px;
    color: black;
    font-size: 12px;
    font-family: "Mona Sans", Arial, Helvetica, sans-serif;
}

/***Right Contact Form***/

/*Right Sign In Link*/
.signin-container {
    position: absolute;
    top: -85px;
    left: 300px;
    width: 100%;
    text-align: right;
}

.signin-container p{
    margin-right: 40px;
    margin-top: 12px;
}

.signin-container a{
    color:#E5EBF2; 
}

.signin-container a:hover{
    color:#437cbe; 
}

/*Contact Text*/
.contact-container {
    width: 100%;
    text-align: center;
}

.contact-text {
    position: relative;
    top: 30px;
    margin-left: -215px;
    color: #E5EBF2;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0px;
}

/*Right Sign Up Component*/
.login-container {
    width: 100%;
    position: relative;
    top: 10px;
    margin-left: -10px;
    display: flex;
    justify-content: center; 
}

.login-box{
    width: 60%;
    height: 375px;
    text-align: center;
    align-content: center;
}

.login-items {
    position:relative;
    top: 5px
}

.login-items p{
    text-align: left;
    margin-left: 10px;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-items input{
    width: 86%;
    display: flex;
    padding: 8px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #323f4d;
    border-radius: 5px;
}

.eye-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 242px;
    right: 35px;
    cursor: pointer;
}

input:focus {
    outline: 1.3px;
    outline-style: solid;
    outline-color: #0969DA;
}

.login-button {
    width: 90%;
    margin-top: -5px;
    margin-left: -18px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #238636;
    transition-duration: 0.4s;

    color: #E5EBF2;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 500;
    font-size: 11px;
}

.login-button:hover {
    background-color: #1b6b2b;
    box-shadow: #0D1116;
    cursor: pointer;
}

.username-box {
    position: relative;
    top: -15px;
}

.signup-info {
    font-size: 10px;
    position: relative;
    top: -10px;
}